body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#app {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
}

li {
  all: unset;
}

img {
  width: 100%;
}
